Repository NikaPuturidze/jobly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

schema: add export of table types
  packages/db/src/schema.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

env: add .env.example
  .env.example
Due: none

feat(trpc): add trpc server and client
  apps/trpc/index.ts
  apps/trpc/package.json
  apps/trpc/src/client/index.ts
  apps/trpc/src/router/index.ts
  apps/trpc/src/router/routes/vacancy.ts
  apps/trpc/src/server/index.ts
  apps/trpc/src/server/trpc.ts
  apps/trpc/tsconfig.json
  package.json
  packages/api-worker/package.json
  packages/db/src/index.ts
  pnpm-lock.yaml
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat(next): add base of webapp
  .gitignore
  apps/trpc/package.json
  apps/trpc/src/client/index.ts
  apps/trpc/src/server/index.ts
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add ssr support for trpc
  .env.example
  .npmrc
  apps/trpc/index.ts
  apps/trpc/package.json
  apps/trpc/src/client/index.ts
  apps/trpc/src/index.ts
  apps/trpc/src/router/index.ts
  apps/trpc/src/router/routes/vacancy.ts
  apps/trpc/src/server/index.ts
  apps/trpc/src/server/trpc.ts
  apps/trpc/src/trpc.ts
  apps/trpc/tsconfig.json
  apps/web/eslint.config.mjs
  apps/web/next.config.js
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/lib/trpc.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: trpc naming
  apps/web/src/app/page.tsx
  apps/web/src/lib/trpc.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add heroui config
  apps/web/tailwind.config.js
Due: pnpm exec eslint --fix

feat: add top swiper to top companies section, change cards design
  apps/trpc/src/index.ts
  apps/trpc/src/router/main.router.ts
  apps/web/src/app/home/view.tsx
  apps/web/src/components/card-category.tsx
  apps/web/src/components/card-company.tsx
  apps/web/src/components/card-vacancy.tsx
  apps/web/src/components/section-title.tsx
  apps/web/src/components/swiper-button.tsx
  apps/web/src/styles/globals.css
  apps/web/src/styles/vars.css
  apps/web/tailwind.config.js
  packages/db/src/index.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add search section
  apps/trpc/src/router/main.router.ts
  apps/web/package.json
  apps/web/src/app/categories/view.tsx
  apps/web/src/app/home/view.tsx
  apps/web/src/components/card-category.tsx
  apps/web/src/components/card-company.tsx
  apps/web/src/components/theme-switcher.tsx
  apps/web/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add filtering to vacancy page
  apps/trpc/src/router/main.router.ts
  apps/web/src/app/categories/server.tsx
  apps/web/src/app/home/view.tsx
  apps/web/src/app/vacancies/page.tsx
  apps/web/src/app/vacancies/server.tsx
  apps/web/src/app/vacancies/view.tsx
  apps/web/src/components/accordion-filter.tsx
  apps/web/src/components/card-vacancy.tsx
  apps/web/src/components/wrapper.tsx
  packages/db/src/migrations/0032_low_multiple_man.sql
  packages/db/src/migrations/meta/0032_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: inspected with sonarqube
  apps/web/src/app/categories/view.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/app/vacancies/view.tsx
  apps/web/src/components/accordion-filter.tsx
  apps/web/src/components/card-category.tsx
  apps/web/src/components/card-company.tsx
  apps/web/src/components/card-vacancy.tsx
  apps/web/src/components/section-title.tsx
  apps/web/src/components/swiper-button.tsx
  apps/web/src/components/theme-switcher.tsx
  apps/web/src/components/wrapper.tsx
  apps/web/src/utils/hexToRGB.ts
  packages/api-worker/src/utils/shared/format.interface.ts
  packages/db/src/index.ts
  packages/queue/src/baseWorker.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: move logic to context, separated view to components
  apps/trpc/src/router/main.router.ts
  apps/web/package.json
  apps/web/src/app/home/view.tsx
  apps/web/src/app/vacancies/components/products-list.tsx
  apps/web/src/app/vacancies/components/side-filters.tsx
  apps/web/src/app/vacancies/context/vacancies-provider.tsx
  apps/web/src/app/vacancies/providers.tsx
  apps/web/src/app/vacancies/server.tsx
  apps/web/src/app/vacancies/view.tsx
  apps/web/src/components/accordion-filter.tsx
  apps/web/src/components/card-vacancy.tsx
  apps/web/src/components/empty.tsx
  apps/web/src/styles/globals.css
  apps/web/src/utils/format.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: solve hydration issue, add visual filter of salary
  apps/trpc/src/router/main.router.ts
  apps/trpc/src/utils/format.ts
  apps/web/src/app/home/view.tsx
  apps/web/src/app/vacancies/components/products-list.tsx
  apps/web/src/app/vacancies/components/side-filters.tsx
  apps/web/src/app/vacancies/context/vacancies-provider.tsx
  apps/web/src/app/vacancies/server.tsx
  apps/web/src/components/accordion-filter.tsx
  apps/web/src/utils/format.ts
  apps/web/tsconfig.json
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add logic to salary filter, refactor provider a bit
  apps/trpc/src/router/main.router.ts
  apps/web/src/app/vacancies/components/side-filters.tsx
  apps/web/src/app/vacancies/context/vacancies-provider.tsx
  apps/web/src/components/card-vacancy.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add amount of vacancies to filter rows
  apps/trpc/src/router/main.router.ts
  apps/web/src/components/accordion-filter.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

refactor: rename accordion header
  apps/web/src/app/vacancies/components/side-filters.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

ui: minor ui improvements
  apps/web/src/app/vacancies/components/products-list.tsx
  apps/web/src/app/vacancies/components/side-filters.tsx
  apps/web/src/app/vacancies/context/vacancies-provider.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add employment type to vacancy, add type to check insert strictly
  apps/web/src/app/vacancies/server.tsx
  packages/api-worker/index.ts
  packages/api-worker/package.json
  packages/api-worker/src/utils/formatter/jobs-ss-ge/format.ts
  packages/api-worker/src/utils/formatter/jobs-ss-ge/index.ts
  packages/api-worker/src/utils/formatter/jobs-ss-ge/interfaces/interface.ts
  packages/api-worker/src/utils/formatter/my-jobs-ge/format.ts
  packages/api-worker/src/utils/formatter/my-jobs-ge/index.ts
  packages/api-worker/src/utils/formatter/my-jobs-ge/interfaces/interface.ts
  packages/api-worker/src/utils/shared/format.interface.ts
  packages/api-worker/src/utils/shared/insert.type.ts
  packages/db/src/migrations/0033_youthful_namor.sql
  packages/db/src/migrations/0034_fearless_doctor_doom.sql
  packages/db/src/migrations/0035_even_screwball.sql
  packages/db/src/migrations/meta/0033_snapshot.json
  packages/db/src/migrations/meta/0034_snapshot.json
  packages/db/src/migrations/meta/0035_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add employment type filter, move accordion config to provider
  apps/trpc/src/router/main.router.ts
  apps/web/src/app/vacancies/components/side-filters.tsx
  apps/web/src/app/vacancies/context/vacancies-provider.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

Path conditions:
  prettier --parser typescript --write: (any of: *.ts) or (any of: *.tsx)
  pnpm exec eslint --fix: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)
  prettier --write: any of: *.json
